<!DOCTYPE html>
<html>
<head>
  <title>PostPic</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/scss" href="scss/master.scss">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <span class="pull-left brand">
    <%= image_tag "brand.png", class: "bimage" %>
    &nbsp;&nbsp;&nbsp;
    <span class = "divider">|</span>
    <%= link_to 'PostPic', root_path %></span>
<nav>
    <div class="nav_links pull-right">
      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= current_user.name %>
            <span class="caret"></span>
          </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <br>
              <li><span class="nav_links pull-left"><%= link_to 'New Post', new_post_path %></span></li><br><br>
              <li><span class="nav_links pull-left"><%= link_to 'Edit Settings', edit_user_registration_path %></span></li><br><br>
              <li><span class="nav_links pull-left"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span></li><br><br>
              <li><span class="nav_links pull-left"><%= image_tag current_user.photo, class: 'prof_pic_small' %><%= current_user.name %></span></li><br><br>
            <% else %>
              <span class="nav_links pull-right"><%= link_to 'Sign Up', new_user_registration_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Log In', new_user_session_path %></span>
        </div>
    <% end %>
  </div>
</nav> 
	<div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6 col-md-offset-3">
        <div class = "panel panel-default">
          <div class = "panel panel-body panel-post">

	           <%= yield %>

           </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
